$bp-laptop: 1200px;
$bp-tablet: 992px;
$bp-tablet-md: 768px;
$bp-mobile: 576px;


$container: 1140px;

$width-content: 904px;
$width-content-tablet: 960px;
$width-content-tablet-md: 720px;
$width-content-mobile: 100%;